{% extends "base.html" %}
{%load static%}
{% block body %}

<style>
    body{
        background-color: bisque;
    }

   
    table{
        position: absolute;
        left: 210px;
        top: 130px;
        height: 400px;
        border: 2px solid blueviolet;
        background-color: bisque;
    }
    tr{
        
        border: 2px solid blueviolet;
    }
    th{
        color:black;
        font-size: 45px;
        width: 280px;
        border: 3px solid blue;
    }
    td{
        color:black;
        font-size: 35px;
        width: 280px;
        border: 2px solid blueviolet;
    }
    .form1{
        
        background-color: bisque;
        position: absolute;
        right: 100px;
        top: 200px;
        color: coral;
    }
    input{
        border: 2px solid blueviolet;
        border-radius: 5%;
    }
</style>
<img src="{% static 'R.jpg'%}" alt="">
<h1>Course Overview</h1>
<table>
    <tr><th>coursename</th>
        <th>coursenumber</th>
        <th>credit</th>
    
    </tr>
    {% for course in c_d %}
    <tr><td>{{course.course_name}}</td>
        <td>{{course.course_number}}</td>
        <td>{{course.credit}}</td>
    </tr>
    {% endfor %}
    
</table>
{% endblock %}