{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:355px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>About US</h1>
</div>

<div id="nav">
<br>
<br>
&nbsp Group 4<br>
</div>

<div id="section">
<h2>Group Numbers</h2>
<p>
Zhihao Xing13421565&nbsp[Front(Back) End Developer]
</p>
<p>
Yangliang Yuan 13837190&nbsp[Team Leader]
</p>
<p>
Yu Liu 14003418&nbsp[Business Analysis  ]
</p>
<p>
Dayu Huang 13152792&nbsp[Software Tester]
</p>
<p>
Xukai Chen 13486663&nbsp[Front End Developer]
</p>
<p>
Kunyang Dai 13498199&nbsp[Software Tester]
</p>
<p>
Zizhen Liu 13649088&nbsp[Back End Developer]
</p>
</div>

<div id="footer">

</div>

</body>
</html>