{% extends "base.html" %}

{% block body %}
    <h3 class="m-4">ABOUT US</h3>
  <body>
    YuLiu Developer&Business Analysis (A junior software engineering student at UTS with academic excellence and extensive experience in software development.)

    Yuan yangliang Team Leader & Front End Developer (A junior software engineering student at UTS with academic excellence and extensive experience in software development.)

    Zhihao Xing Front End Developer & Back End Developer & Tech Director (A junior software engineering student at UTS with academic excellence and extensive experience in software development.)

    Zizhen Liu Back End Developer (A junior software engineering student at UTS with academic excellence and extensive experience in software development.)
 <body>
{% endblock %}
